<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal" style="cursor:pointer;">
      </div>
      <a href='#' (click)='LogOut()' style="margin-left: 25px;">LogOut</a>
    </div>
  </div>
</nav>

<br />
<br />
<br />
<div class="container">
  <app-publicacoes #publicacoes></app-publicacoes>
  <app-incluir-publicacao (atualizaTimeLine)='atualizaTimeLine()'></app-incluir-publicacao>
</div>